[Unit]
Description=VRChat Join Notifier (user)
After=default.target

[Service]
Type=simple
Environment=PUSHOVER_TOKEN=XXXXX   # Application/API Token
Environment=PUSHOVER_USER=XXXXX   # User Key
ExecStart=%h/.local/bin/vrc_join_notify.py 
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
